<h3> Available stories </h3> 
<% @stories.each do |story| %> 
  <p> 
    <%=link_to story.name,story_path(story) %> 
    <%= link_to story.link,story.link %>    <%= link_to 'Edit',edit_story_path(story) %> 
  </p> 


<% end %> 