<h5 class="well"> Available stories:</h5> 


<%= form_tag stories_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= render partial: "story",collection: @stories.sort_by {|story| story.get_likes.size }.reverse %> 