<h3> Available stories </h3> 
<% @stories.each do |story| %> 
   <ul class="list-group">
      <li class="list-group-item"><%= link_to story.name,story_path(story ) %>  <span class="badge"> 
       <%= story.get_likes.size %>   </span></li>
   </ul> 
<% end %> 